
// Raw Color Definitions - Name with https://colornamer.robertcooper.me/ 

$color-whiteout: #FBFBFB;
$color-trapped-darkness: #091B2A;
$color-hopi-blue-corn: #184872;
$color-fly-a-kite: #C4DCF4;
$color-amalfi-coast: #287BC3;

$color-meteor-shower: #5D31F5;
$color-deep-sky-blue: #1877F2;
$color-dire-wolf: #282828;
$color-dark-charcoal: #323232;
$color-shadow-mountain: #575757;
$color-sonic-silver: #757575;
$color-elemental-gray: #A0A0A0;
$color-temp: #B0B0B0;
$color-orochimaru: #D9D9D9;
$color-snowflake: #F0F0F0;
$color-dr-white: #FAFAFA;
$color-dynamic-black: #1E1E1E;
$color-redrum: #FF2200;
$color-white: #FFFFFF;

// Key Color Usage Definitions
$color-primary-cta: $color-meteor-shower;

$color-primary-title: $color-dire-wolf;
$color-headlines-title: $color-dark-charcoal;
$color-isolated-title: $color-shadow-mountain;
$color-faded-text: $color-elemental-gray;

$color-primary-background: $color-orochimaru;
$color-secondary-background: $color-dr-white;

$color-primary: $color-hopi-blue-corn;
$color-background: $color-whiteout;
$color-secondary: $color-fly-a-kite;
$color-accent: $color-amalfi-coast;

