.taskAddContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem;
  padding: 1rem;
  width: 100%;

  button {
    height: 4rem;
    margin: .5rem;
    width: 4rem;
  }

  input {
    margin: 2rem;
    size: 2rem;   
  }
}